.card-original {
    width: 24rem;
    height: 25rem;
    margin: 1.5rem 0.5rem 1rem 0.5rem;
    transition: 0.5s ease-out all;
    cursor: pointer;
}

.card-original>img {
    border-radius: 0.5rem;
    width: 20rem;
    height: 24rem;
}

.card-original:hover {
    z-index: 2;
    transform: scale(1.1);
}

.card-original:hover>img {
    border-radius: 1rem;
}

@media (max-width: 767px) {
    .card-original {
        width: 20rem;
        height: 21rem;
        margin: 1rem 0.5rem 1rem 0.5rem;
    }
    .card-original>img {
        width: 15rem;
        height: 18rem;
    }
}